@import '../../assets/variables.scss';

.root {
  max-width: 325px;
  width: 100%;
}

.label {

}

.input {
  width: 100%;
  outline: none;
  background: transparent;
  color: antiquewhite;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid lighten($primary, 10);
  text-align: center;
}