@import '../../assets/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password {
  max-width: 600px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  background: $light;
  color: #000;
  text-align: center;
  border-radius: 3px;
  user-select: all;
  font-family: monospace;
  font-size: 1.25rem;
}

.sizeInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.sizeInput {
  margin-top: 1rem;
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 3px;
  background: hotpink;
  border-radius: 5px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: darken(hotpink, 30);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;

    &:hover {
      background: darken(hotpink, 20);
    }
  }

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}
